<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head"> </head>

    <body>

    <nav th:replace="fragments/navbar :: navbar"></nav>


    <header class="header" >
        <h1>INDEX DE LA LIBRERIA </h1>
        <section class="contenedorMain">
            <div class="tituloBiblioteca">
                <a class="navbar-brand" href="#">BIBLIOTECA</a>
            </div>

            <div class="container contenedorLibros">
                <p class="tituloLibros" th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p>
            </div> <!-- Aquí cierras la etiqueta div -->
        </section>
    </header>

    <div/>



    <footer style="background-color: black; color: white; width: 100%; height: 50px; position: fixed; bottom: 0; margin-top: 10px; display: flex; align-items: center; justify-content: center;">
        &copy; 2023 Sebastian Macharette. Todos los derechos reservados.
    </footer>

    </body>

</html>
